
@{
    ViewBag.Title = "MSG";
}

<h2>Skriv in meddelandet nedan:</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Name: @Html.TextBox("Name")</p>
    <p>Message: @Html.TextBox("Mymessage")</p>
    <p>Email: @Html.TextBox("Email")</p>
    <button type="submit">Send</button>
}

